<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
</head>
<body style="font: 14px Arial, Helvetica, sans-serif">
    <p>Prezado(a) Senhor(a)</p>
    <p>${usuario.nome}.</p>
    <br/><br/>
    <p>A <strong>Chamaíh Coletas e Entregas</strong> tem o prazer de lhe dar as boas-vindas e lhe parabenizar pela sua recente inclusão em nosso portfólio de clientes.</p>
    <p>Trabalharemos com afinco para lhe oferecer a cada dia os melhores serviços buscando sempre a costumeira excelência no atendimento e na qualidade, com preços competitivos.</p>
    <p>Aproveitamos a oportunidade para renovar votos de elevada estima e consideração.</p>
    <br/><br/>
    <p>Atenciosamente,</p>
    <br/><br/>
    <p>Chamaíh Coletas e Entregas</p>
</body>
</html>