<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
</head>
<body style="font: 14px Arial, Helvetica, sans-serif">
    <p>Caro(a) ${usuario.nome},</p>
    <br/><br/>
    <p>Você solicitou a recuperação de sua senha de acesso aos sistemas da Chamaih!</p>
    <p>Clique no link abaixo para cadastrar a nova senha:</p>
    <p>Recuperar minha senha</p>

    <p>Caso seu cliente de email não permita clicar no link acima, </p>
    <p>copie e cole o endereço abaixo no seu navegador de internet:</p>
    <p>https://chamai.com.br/...</p>

    <p>--</p>
    <p>Favor não responder à este email. Esta é uma mensagem automática.</p>
    <p>Chamaih Coletas e Entregas.</p>
</body>
</html>